.SpaceNav{
    background-color:rgba(280,280,280,0.8);
}



.SpaceNav ul li a:not(.active):hover {
    background:#ECEDE5;
}

.SpaceNav .active{
    background-color:#E7EBD1;
}

@media (max-width: 768px) {
    .SpaceNav ul{
        background-color:rgba(202,198,198,0.5);
    }
}