#DarkHome{
    background: url('DarkHome-banner.png') no-repeat center;
    background-size: 100% 100%;
}

#DarkLore{
    background: url('DarkLore-banner.png') no-repeat center;
    background-size: 100% 100%;
}