.rulesContainers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 100%;
}

.RuleContainer {
    width: calc(50% - 40px);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: no-repeat center;
    background-size: 100% 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.RuleContainer>span{
    font-size:15px;
    -webkit-text-stroke: 1px #FFFFFF;
}


.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}


.containersRow {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 50%;
    flex-wrap: wrap;
}

#fight{
    background-image: url('fightstatic.jpg');
}

#fight:hover{
    background-image: url('fight.gif');
}

#characteristics{
    background-image: url('characteristics.jpg');
}

#characteristics:hover{
    background-image: url('characteristics.gif');
}

#skills{
    background-image: url('skillsStatic.jpg');
}
#skills:hover{
    background-image: url('skills.gif');
}

#abilities{
    background-image: url('abilitiesstatic.jpg');
}
#abilities:hover{
    background-image: url('abilities.gif');
}

#rulesPage {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('rules-banner.jpg') no-repeat center;
    background-size: 100% 100%;
}

@media (max-width: 768px) {
    .containersRow {
        flex-direction: column;
    }
    .RuleContainer {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .RuleContainer {
        width: calc(100% - 40px);
    }
    .containersRow {
        flex-direction: column;
    }
}