#StealthRulesPage{
    position: relative;
  background: url('stealthRulesBack.jpg') no-repeat center;
    background-size: 100% 100%;
    width:100%;
}

.startGameButton{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

