#Profile{
    background: url('profile-banner.png') no-repeat center fixed;
}

.characterDetails {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}

.characterStats,
.characterParameters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.statItem,
.paramItem {
    margin-right: 20px;
}

.statInputs,
.paramInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statInputs p,
.paramInputs p {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .characterDetails {
        flex-direction: column;
    }

    .characterStats,
    .characterParameters {
        flex-direction: column;
        margin-bottom: 15px;
    }

    .statItem,
    .paramItem {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .statInputs,
    .paramInputs {
        align-items: flex-start;
    }
}