$font-family: 'Montserrat', sans-serif;
$font-url: 'fonts/Montserrat-Regular.ttf';


#root{
  min-height:100vh;
}

body{
  margin: 0;
  min-height: 100vh;
  font-family: $font-family;
}

@font-face {
  font-family: $font-family;
  src: url($font-url) format('truetype');
}

footer {
  flex-shrink: 0;
  left: 0;
  bottom: 0;
  min-height:100%;
  width: 100%;

  > div {
    min-height: 100%;
    width: 100%;
  }
}

main{
  display: flex;
  margin: 0 auto;
  min-height: 100vh;
}


