$box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
$border: 2px solid white;
$background-color: rgba(0, 0, 0, 0.8);
$color: #fff;

.homeMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width:100%;
  margin: 0;
}

.titleContainer {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px;
  width:250px;
  height:5px;
  border-radius: 40px;
  box-shadow: $box-shadow;
  color: $color;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  border: $border;
}

.textContainer {
  position: relative;
  background-color: $background-color;
  border-radius: 10px;
  box-shadow: $box-shadow;
  color: $color;
  z-index: 1;
  border: $border;
  text-align:center;
}

.justContainer{
  position: relative;
  background-color: $background-color;
  border-radius: 10px;
  box-shadow: $box-shadow;
  color: $color;
  z-index: 1;
  border: $border;
}

.justBrightContainer{
  position: relative;
  background-color: rgba(41,37,37,0.8);
  border-radius: 10px;
  box-shadow: $box-shadow;
  color: $color;
  z-index: 1;
  border: $border;
}

.textContainerBright{
    position: relative;
    background-color: rgba(41,37,37,0.8);
    border-radius: 10px;
    box-shadow: $box-shadow;
    color: $color;
    z-index: 1;
    border: $border;
    text-align:center;
}

.ImageTextContainerBright {
  position: relative;
  background-color: rgba(41,37,37,0.8);
  border-radius: 10px;
  box-shadow: $box-shadow;
  color: $color;
  z-index: 1;
  border: $border;
  display: flex;
  flex-direction: row;
}

.ImageTextContainerBright img {
  flex: 0 0 200px;
  min-width: 200px;
  min-height: 200px;
  margin-right:10px;
}

.ImageTextContainerBright p {
  flex: 1;
}


.orange{
  background: url('orangeback.png') no-repeat center;
  background-size: cover;
}

.purple{
  background: url('purpleback.png') no-repeat center;
  background-size: cover;
}

.mainContainer {
  position: relative;
  align-items: center;
  width: 50%;
  padding-top: 50px;
  margin-bottom: 50px;
  margin-top: 2%;
}

.ImageContainer {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px;
  width:100px;
  height:100px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
}
.ImageContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}



@media (max-width: 768px) {

  .main-container {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 50px;
  }

  .title-container {
    height:2px;
    margin-bottom:20px;
  }

  .text-container {
    margin-top:0;
  }
  .ImageTextContainerBright {
    flex-direction:column;
  }
  .ImageTextContainerBright img {
    min-width: 100px;
    min-height: 100px;
  }
}



@media (min-width: 769px) and (max-width: 1024px) {

  .main-container {
    width: 100%;
    padding-top: 30px;
    margin-bottom: 30px;
  }

  .title-container {
    height:2px;
    margin-bottom:20px;
  }

  .text-container {
    margin-top:0;
  }
}